absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==20.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
boto3==1.21.25
botocore==1.24.25
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
coloredlogs==15.0.1
datasets==2.0.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docformatter==1.4
docutils==0.15.2
emoji==1.7.0
entrypoints==0.4
executing==0.8.3
fairscale==0.4.6
filelock==3.6.0
flake8==4.0.1
flake8-bugbear==22.3.23
frozenlist==1.3.0
fsspec==2022.2.0
gitdb==4.0.9
gitdb2==4.0.2
GitPython==3.1.27
google-auth==2.6.2
google-auth-oauthlib==0.4.6
grpcio==1.45.0
huggingface-hub==0.4.0
humanfriendly==10.0
hydra-core==1.1.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
iopath==0.1.9
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
json5==0.9.6
jsonlines==3.0.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.15.6
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.11.2
Markdown==3.3.4
markdown-it-py==0.5.8
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mock==4.0.3
multidict==6.0.2
multiprocess==0.70.12.2
myst-parser==0.12.10
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
nltk==3.7
notebook==6.4.10
notebook-shim==0.1.0
numpy==1.22.3
oauthlib==3.2.0
omegaconf==2.1.1
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parlai==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pluggy==1.0.0
portalocker==2.4.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-gfm==1.0.2
py-rouge==1.1
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.1
pytest-datadir==1.3.1
pytest-regressions==2.3.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
requests-mock==1.9.3
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
sh==1.14.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==2.2.2
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
subword-nmt==0.3.8
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
tokenizers==0.11.6
tomli==2.0.1
torch==1.11.0
torchtext==0.12.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.1.1
Unidecode==1.3.4
untokenize==0.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
websocket-server==0.6.4
Werkzeug==2.0.3
xxhash==3.0.0
yarl==1.7.2
zipp==3.7.0
